html, body {
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;

    background: linear-gradient(84deg, #780641, #ED941D);
    background-size: cover;

    margin: 0;
    min-height: 100vh;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}
h3 {
    font-size: 32px;
}
a {
    color: #ffbe72;
}

.logo {
    max-height: 250px;
    width: auto;
}

.button {
    margin-top: 50px;
}
.button a {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #82143e;

    background: linear-gradient(to bottom right, #ffffff, #c3c3c3);

    padding: 15px 25px;
    border-radius: 5px;
}

.header-wrapper {
    display: flex;
    align-items: center;

    position: relative;
    text-align: center;
    height: 100vh;
}
.header-wrapper:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    right: -50px;
    height: 400px;
    width: 400px;
    background-image: url('top-right.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
}
.header-inner {
    flex: 1;
    position: relative;
    z-index: 10;
    padding: 100px 25px 150px;
}
.header-wrapper p {
    font-size: 21px;
    max-width: 500px;
    margin: 0 auto;
}

.page-wrapper {
    padding: 25px;
}
.inner-page {
    text-align: center;
}

.area-title {
    text-align: center;
}
.amt {
    color: #ffbe72;
}

.form-notification {
    font-weight: bold;
    line-height: 30px;
    text-align: center;

    height: 30px;
    padding-bottom: 10px;
}
.form-notification .notice {
    margin: 0;
}
.form-notification .warning {
    color: #ffbe72;
}

.input-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;

    padding: 40px;
}

.checkbox-wrapper input {
    display: none;
}

.label-for-check {
    display: flex;
    align-items: center;

    position: relative;

    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #82143e;

    background: linear-gradient(to bottom right, #ffffff, #c3c3c3);

    min-height: 80px;

    padding: 25px;
    border-radius: 10px;
    cursor: pointer;
}
.label-for-check span {
    position: relative;
    z-index: 1;
    flex: 1;
}
.label-for-check:after {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

    opacity: 0;

    background: #ffffff;
    border-radius: 10px;

    transition: opacity 300ms;
}
.label-for-check:hover:after {
    opacity: 1;
}
.checkbox-inner {
    position: relative;
    z-index: 1;
}

.input-box:checked + .label-for-check {
    font-weight: bold;
    color: #FFF;
    background: #ffbe72;
}
.input-box:checked + .label-for-check:hover:after {
    opacity: 0;
}

.submit-wrapper {
    text-align: center;
}
.submit-wrapper input {
    background: #82143e;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    -webkit-appearance: none;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.area-wrapper {
    padding-top: 50px;
}

.inner-page label {
    text-align: right;
}